body {
    position: relative;
    overflow-y: hidden;
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: #242526;
}

.notification {
    top: 10px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.row-search:hover {
    background-color: #5B5C5C;
}

.content-search:hover {
    background-color: #5B5C5C;
}

.content-search {
    padding: 10px 15px 10px 5px;
    margin-top: 10px;
}

#suggesstion-box {
    color: #F1FFFF;
    width: 100%;
    background-color: #242526;
    border-radius: 3px;
}

.icon-search {
    background-color: #2F3031;
    color: #373D48;
    padding: 8px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
}

#text {
    overflow-x: hidden;
    font-size: 15px;
}

.row-search {
    padding: 7px 25px 7px 15px;
    position: relative;
}

.row-search a {
    color: #F1FFFF;
    text-decoration: none;
}

.title-search {
    padding-top: 10px;
    font-size: 15px;
    color: #828282;
    font-weight: bold;
}

.image-user-search {
    border-radius: 20px;
    margin-right: 10px;
}


/* Container top */

.container-top {
    position: relative;
    top: 0px;
    width: 100%;
    height: 8vh;
    border-bottom: solid 1px #393A3B;
    box-shadow: 0px 0.5px 0px 0.5px #28292A;
}

.user {
    position: absolute;
    right: 0px;
    top: 10px;
}

.user div {
    float: left;
}

.user-container {
    margin-right: 10px;
    border-radius: 30px;
    padding: 3px;
    margin-top: 2px;
}

.user .user-image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: url("../image/user.jpg");
    background-size: cover;
}

.user .user-name {
    text-transform: capitalize;
    padding-right: 5px;
    padding-left: 7px;
    line-height: 30px;
    font-size: 14px;
    color: #E4E6EB;
}

.user .icon {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #3A3B3C;
    margin-right: 10px;
}

.user .fas {
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-size: 17px;
    color: white;
}

.user .hover:hover {
    background-color: #4E4F50;
}


/* Container left */

.container-left {
    position: relative;
    width: 24.5%;
    /*380px*/
    height: 92vh;
    border-right: solid 1px #393A3B;
    box-shadow: 0px 0.5px 0px 0.5px #28292A;
}

.container-listChat .title {
    position: relative;
    color: white;
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 12px 0px 12px 0px;
    margin: 0px 15px 0px 15px;
}

.container-listChat .title .icon div {
    position: absolute;
    right: 0px;
    top: 12px;
    box-sizing: 30px;
    background-attachment: #232425;
}

.container-listChat .title .icon div i {
    font-size: 20px;
}

.container-listChat .search {
    position: relative;
    margin: 0px 15px 0px 15px;
}

.container-listChat .search input {
    background-color: #3E4042;
    border: none;
    width: 100%;
    height: 36px;
    font-size: 15px;
    border-radius: 30px;
    line-height: 40px;
    padding-left: 36px;
    padding-right: 16px;
    text-align: left;
    color: white;
    outline: none;
}

.container-listChat .search i {
    color: #818790;
    position: absolute;
    top: 10px;
    left: 12px;
}

.container-right {
    position: absolute;
    top: 60px;
    width: 75.5%;
    right: 0px;
    height: 92vh;
}

.name-receiver {
    width: 100%;
    height: 7vh;
    border-bottom: solid 1px #393A3B;
}

.name-receiver .row {
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.chat {
    width: 100%;
    height: 85vh;
}

.content-chat {
    width: 65%;
    height: 100%;
    border-right: solid 1px #393A3B;
}

.setting-chat {
    width: 35%;
    height: 100%;
}

.content-chat .content {
    width: 100%;
    height: 90%;
}

.content-chat .content-send {
    width: 100%;
    height: 10%;
    padding: 10px;
}

.content-send .row .col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.content-send .row .col-md-8 input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    outline: none;
}

.content-send .row .col-md-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.content-send .row .col-md-1 i {
    font-size: 25px;
    border-radius: 20px;
    padding: 7px;
    color: white;
}

.content .sender {
    text-align: right;
    padding: 11px;
    color: white;
}

.content .sender span {
    background-color: blue;
    padding: 10px;
}

.content .receiver {
    text-align: left;
    padding: 11px;
    color: white;
}

.content .receiver span {
    background-color: blue;
    padding: 10px;
}

.addFriend {
    position: absolute;
    right: 10px;
    top: 8px;
}

.addFriend button {
    padding: 5px 7px 5px 7px;
    background-color: #2D88FF;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    z-index: 1;
    outline: none;
    margin-left: 5px;
}

.addFriend div {
    padding: 5px 7px 5px 7px;
    float: right;
}